name: Build
on:
  pull_request:
    branches: [ main ]
jobs:
  build-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2
    - name: Build docker image
      run: docker build .
